KEYCLOAK_ISSUER=https://keycloak.example.com/realms/hris-platform
KEYCLOAK_JWKS_URL=https://keycloak.example.com/realms/hris-platform/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE_HRIS_CORE=hris-core-api

TENANT_REGISTRY_BASE_URL=https://tenant-registry.example.com
TENANT_REGISTRY_TIMEOUT_SECONDS=5
TENANT_REGISTRY_BASIC_AUTH_USERNAME=hris_core
TENANT_REGISTRY_BASIC_AUTH_PASSWORD=change-me

SRMS_BASE_URL=https://srms.gi-kace.com.gh
EAPPRAISAL_DOMAIN_TEMPLATE=https://appraisal.{subdomain}.com.gh
ELEAVE_DOMAIN_TEMPLATE=https://{subdomain}.eleave.com.gh

HTTP_CLIENT_TIMEOUT_SECONDS=5
# If you later add logging, etc., add variables here